@import url(reset.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background:linear-gradient(to top, #1e130c, #9a8478)
}

.wrap {
  width: 800px;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 0 25px 5px rgba(255,255,255,0.8);
}

.header {
  width: 100%;
  height: 550px;
}

.nav {
  display: flex;
  width: 100%;
  height: 70px;
  background: #292c34;
  color: white;
  padding: 0 90px;
  justify-content: space-between;
  align-items: center;
}

.nav_btn {
  display: inline-block;
  width: 73px;
  color: white;
  margin: 0;
  padding: 27px 15px;
}

.title {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 340px;
  background: #292c34;
  color: white;
  align-items: center;
  justify-content: center;
}

.title h2 {
  font-size: 33px;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
}

.btnbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 140px;
  background: #292c34;
}

.arrow_btn {
  font-size: 3rem;
  color: #28ea89;
}

.section1 {
  width: 100%;
  height: 470px;
}

.section1__box1 {
  width: 100%;
  height: 200px;
}

.app_box1,
.app_box2 {
  width: 33.3%;
  height: 100%;
  float: left;
  text-align: center;
}

.app_box1 {
  background: #345363;
}

.app_box2 {
  background: #2a2d3c;
}

.app_box3 {
  width: 33.4%;
  height: 100%;
  float: left;
  background: #555f5e;
  text-align: center;
}

.icon_col {
  color: #28ea89;
  font-size: 2rem;
  display: inline-block;
  margin: 45px;
}

.text1 {
  font-size: 15px;
  color: #fff;
  margin-bottom: 10px;
}

.text2 {
  font-size: 11px;
  color: #28ea89;
}

.section1__box2 {
  width: 100%;
  height: 270px;
  background: #e67e22;
}

.box__child {
  width: 50%;
  height: 100%;
  float: left;
  padding: 35px 70px 35px 100px;
}

.box__child h3 {
  font-size: 15px;
  color: #999;
  line-height: 20px;
  margin-bottom: 20px;
}

.box__child p {
  font-size: 12px;
  color: #919b9f;
  line-height: 30px;
}

.box__child .checl_icon {
  display: inline-block;
  color: #28ea89;
  margin: 0 20px;
}

.more_btn {
  width: 110px;
  height: 35px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 20px;
  background: #28ea89;
  color: #fff;
  border: none;
  outline: none;
}

.section2 {
  width: 100%;
  height: 250px;
  background: #2a2d3c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section2 h4 {
  font-size: 25px;
  color: #fff;
  word-spacing: 10px;
  margin: 20px;
}

.now_btn {
  width: 110px;
  height: 35px;
  background: #28ea89;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
}

.section3 {
  width: 100%;
  height: 610px;
  background: #28ea89;
}

.subtitle {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subtitle h4 {
  font-size: 25px;
  color: #2a2d3c;
  word-spacing: 5px;
  margin-bottom: 15px;
}

.subtitle p {
  font-size: 15px;
  color: #fff;
  word-spacing: 5px;
}

.subcontent {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

.content_box {
  width: 290px;
  height: 350px;
  float: left;
  background: #fff;
  margin: 10px;
}

.content_box_1 {
  width: 100%;
  height: 150px;
  background: #2a2d3c;
}

.content_box_2 {
  width: 100%;
  height: 200px;
  background: #fff;
  padding: 0 15px;
}

.content_box_2 h6 {
  margin: 20px 0;
  font-size: 20px;
  color: #2a2d3c;
}

.content_box_2 p {
  color: #777;
  line-height: 25px;
  font-size: 12px;
  margin-bottom: 30px;
}

.content_box_2 button {
  font-size: 12px;
  font-weight: 600;
  color: #28ea89;
  background: #2a2d3c;
  width: 110px;
  height: 35px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.subbtn {
  width: 100%;
  height: 90px;
  display:flex;
  justify-content: center;
  align-items:center;
}

.subbtn i {
  padding:0;
  width: 40px;
  height: 40px;
  border:none;
  outline:none;
  background:none;
  font-size:2.5rem;
  color:white;
}

.section4 {
  width: 100%;
  height: 300px;
  background: #2a2d3c;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section4 h6 {
  color:#fff;
  font-size:25px;
  word-spacing: 5px;
  margin:30px;
}

.section4 .sutxt {
  color:#fff;
  font-size:15px;
  word-spacing: 5px;
  margin-bottom:30px;
}

.section4 button {
  width: 110px;
  height: 35px;
  border-radius: 5px;
  font-size:12px;
  margin:10px;
  outline:none;
  border: none;
}

.pro_btn {
  background: #28ea89;
  color:white;
}

.read_btn {
  background: #fff;
  color:#29ea89;
}

.section5 {
  width: 100%;
  height: 300px;
  background: #16a085;
}

.section_content {
  width: 50%;
  height: 100%;
  float:left;
  padding:50px 0 50px 100px;
  background: #fff;
}

.box_item1 h1 {
  margin:25px 0;
}

.box_item1 p {
  font-size:12px;
  color:#777;
  line-height: 25px;
}

.box_item2 .link_icon {
  margin:20px 0;

}

.box_item2 p {
  color:#2a2d3c;
  line-height:30px;
}

.box_item2 .link_icon a {
  margin-right:25px;
}

.footer {
  width: 100%;
  height: 100px;
  background: #292c34;
  display:flex;
  padding: 0 110px;
  align-items: center;
  justify-content: space-between;
}
